:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);

  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: white;
}

body {
  min-height: 100vh;
  background-image: url("images/bg-desktop.svg");
  background-color: var(--Violet);
  position: relative;
}

header {
  margin: 20px 0 20px 60px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 60px 0 60px;
  height: 70vh;
}

.illustration {
  max-width: 450px;
  margin: 0;
}

.illustration > img {
  width: 100%;
}

article {
  max-width: 400px;
  margin-left: 40px;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-family: "Poppins";
  font-weight: 600;
}

button {
  background-color: white;
  color: var(--Violet);
  border-radius: 20px;
  height: 45px;
  width: 150px;
}

button:hover {
  background-color: var(--SoftMagenta);
  color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: fit-content;
    position: absolute;
    bottom: 30px;
    right: 0;
    margin-right: 60px;
}
.icon-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.icon-holder:hover{
    border: 1px solid var(--SoftMagenta);
}

.icon-holder:hover *{
    color: var(--SoftMagenta);
}


@media only screen and (max-width: 1030px) {
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
  }

  main {
    justify-content: center;
    margin: 80px 20px 20px 20px;
    height:fit-content
  }

  footer{
    position: unset;
    margin:0;
  }

  article{
    margin-left:0;
  }
}

@media only screen and (max-width: 610px) {
  h1 {
    font-size: 28px;
  }

  header {
    left: 20px;
    margin-left: 0;
  }

  article {
    text-align: center;
  }

  button {
    margin-top: 20px;
  }
}
